@using ShoseStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "SptheoLoai";
    Layout = "~/Views/Shared/_Product.cshtml";
}

<h3 style="text-align:center;color:green">SẢN PHẨM THEO LOẠI</h3>
<div class="row">
    @foreach (var sanpham in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "ShoseStore", new { id = sanpham.MASP })">
                    <img alt="@sanpham.TENSP"  src="~/images/sanpham/@sanpham.ANHBIA" width="100" />
                </a>
                <div>
                    <br />
                    <h4 style="text-align:center ">
                        @sanpham.TENSP
                    </h4>
                    <div class="product-pic-info-price-cart">
                        <div class="product-pic-info-price">
                            <span>@String.Format("{0:0,0}", sanpham.GIABAN) VNĐ</span>
                        </div>
                        <div class="product-pic-info-cart">
                            <a class="btn btn-danger" href="/ShoseStore/Details/@sanpham.MASP">Thêm giỏ hàng</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
 </div>
@*tao lien ket  giua cac trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SptheoLoai", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
