@model dynamic

@{
    ViewBag.Title = "DetailsDDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT ĐƠN ĐẶT HÀNG</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đơn hàng:
        </dt>
        <dd>
            @Model.DDH.MADDH
        </dd>
        <dt>
            Ngày đặt hàng:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", @Model.DDH.NGAYDH)
        </dd>

        <dt>
            Ngày giao:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", @Model.DDH.NGAYGIAO)
        </dd>

        <dt>
            Đã thanh toán:
        </dt>

        <dd>
            @Model.DDH.DATHANHTOAN
        </dd>

        <dt>
            Tình trạng giao:
        </dt>

        <dd>
            @Model.DDH.TINHTRANGGIAO
        </dd>

        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Model.DDH.KHACHHANG.HOTEN
        </dd>

    </dl>
</div>
<hr />
<div class="box-header">
    <h3 class="box-title">Chi Tiết Đơn Hàng</h3>
</div>
<div class="box-body">

    <table class="table" border="1">
        <tr>
            <th>
                Mã DDH
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Size
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá
            </th>
            <th> Thành tiền </th>
        </tr>

        @foreach (var item in Model.ChiTietDDH)
        {
            <tr>

                <td>
                    @item.MASP
                </td>
                <td>
                    @item.SANPHAM.TENSP
                </td>
                <td>
                    @item.SIZE
                </td>
                <td>
                    @item.SOLUONG
                </td>
                <td>
                    @String.Format("{0:0,0}", @item.DONGIA) VNĐ

                </td>
                <td>
                    @String.Format("{0:0,0}", @item.THANHTIEN) VNĐ
                </td>
            
            </tr>
        }
    </table>
</div>
<hr />
<p>
    @Html.ActionLink("Sửa", "EditDDH", new { id = Model.DDH.MADDH }) |
    @Html.ActionLink("Quay trở về trang trước", "DonDatHang")
</p>
