@model ShoseStore.Models.CTHOADON

@{
    ViewBag.Title = "DetailsCTDDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<h2>THÔNG TIN CHI TIẾT ĐƠN ĐẶT HÀNG</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã DDH
        </dt>
        <dd>:p
            @Html.DisplayFor(model => model.MADDH)
        </dd>
        <dt>
            Mã SP
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>

        <dt>
            Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @String.Format("{0:0,0}",Model.DONGIA) VNĐ
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay về trang trước", "CTDDH")
</p>
