@model ShoseStore.Models.SIZE

@{
    ViewBag.Title = "EditSize";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<hr />
<h2>SỬA SIZE CỦA SẢN PHẨM</h2>

@using (Html.BeginForm("EditSize", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MASIZE)

        <div class="form-group">
            <label class="control-label col-md-2">Tên sản phẩm:</label>
            <div class="col-md-10">
                @ViewBag.TenSP
            </div>
        </div>

        <input type="hidden" name="masp" value="@ViewBag.MaSP" />

        <div class="form-group">
            @Html.LabelFor(model => model.SIZE1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SIZE1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SIZE1, "", new { @class = "text-danger" })
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LƯU" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về trang trước", "QLSize")
</div>
