@using ShoseStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<ShoseStore.Models.SANPHAM>

@helper Truncate(string input,int length)
{
    if(input.Length<length)
    {
            @input
    }
    else
    {
            @input.Substring(0,length)<text>...</text>
    }
}

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ THÔNG TIN SẢN PHẨM</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Create")
</p>
<table class="table" border="1" >
    <tr>
        <th>
            Tên loại
        </th>
        <th>
            Tên NSX
        </th>
        <th width="150px">
            Tên sản phẩm
        </th>
        <th>
            Size
        </th>
        <th>
            Giá bán
        </th>
        <th style="width:200px">
            Mô tả
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Ngày cập nhập
        </th>
        <th>
            Số lượng tồn
        </th>
        <th>
            Lượt mua
        </th>
        <th>
            Giảm giá
        </th>
        <th style="width:400px"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LOAISP.TENLOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHASANXUAT.TENNSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIZE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Truncate(item.MOTA,100)
        </td>
        <td>
            <img src="@Url.Content("~/images/sanpham/"+ item.ANHBIA) " width="100px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYCAPNHAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUONGTON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUOTMUA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIAMGIA)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MASP }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MASP }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MASP })
        </td>
    </tr>
}

</table>
@*tao lien ket trang*@
   Trang@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>